version: "3"

volumes:
  mongo_data: {}
  mongo_backup: {}
  node_logs: {}
  media_data: {}

networks:
  app-network:
    driver: bridge

services:
  backend:
    restart: always
    container_name: <%=project_slug%>_node_stage
    build:
      context: .
      dockerfile: compose/node/Dockerfile
    env_file:
      - .env
    volumes:
      - /home/app/<%=project_slug%>/node_modules
      - node_logs:/home/app/<%=project_slug%>/logs
      - media_data:/home/app/<%=project_slug%>/uploads
    depends_on:
      - mongo
    networks:
      - app-network

    # tty: true
  mongo:
    restart: always
    image: mongo:4.2
    container_name: <%=project_slug%>_mongo_stage
    env_file:
      - .env
    command: mongod --storageEngine wiredTiger
    volumes:
      - mongo_data:/data/db
      - mongo_backup:/data/backup
    networks:
      - app-network

  nginx:
    restart: always
    build: ./compose/nginx
    container_name: <%=project_slug%>_nginx_stage
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network

